.chat{
    width: 100%;
  max-width: 800px;
  margin: 0 auto;
  min-height: 100vh;
  padding: 30px;
  box-sizing: border-box;
}

.input-area {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}